@import 'src/common/styles/sass/mixins';

.application-for-training {
  button {
    border: 1px solid #A6D05D;
    border-radius: 30px;
    width: 504px;
    height: 38px;
    background-color: #ffffff;
    margin-top: 20px;

    &:hover {
      background-color: #e5e7eb;
      cursor: pointer;
    }

    span {
      @include fontStyle(500, 14px, 17px);
      color: #A6D05D;
    }
  }
}