@import "src/common/styles/sass/mixins";

.information {
  display: flex;

  .distribution {
    display: flex;
    flex-direction: column;
    width: 417px;
    height: 100px;

    .heading {
      @include fontHeading;
    }

    .content {
      @include fontStyle(400, 16px, 24px);
    }
  }

  .useful-links {
    display: flex;
    flex-direction: column;
    width: 385px;
    height: 124px;
    margin-left: 7.7%;

    .heading {
      @include fontHeading;
    }

    .content {
      @include fontStyle(400, 16px, 24px);
    }
  }
}
