main {
  display: flex;
  flex-direction: column;

  .header {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
    margin-left: 3%;

    color: #000000;
  }

  .analytic-data {
    margin-top: 10%;
    margin-left: 7%;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
}