@import 'src/common/styles/sass/mixins';

main {
  display: flex;
  flex-direction: column;

  .header {
    @include fontStyle(600, 40px, 47px);
    margin-left: 3%;

    color: #000000;
  }

  .analytic-data {
    margin-top: 10%;
    margin-left: 7%;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
}
