.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .main {
    display: flex;
    height: 80%;
    width: 100vw;

    .analytic-container {
      width: 82%;
      height: 100%;
    }
  }

  @media screen and (max-height: 1246px) {
    .main {
      height: 75%;
    }
  }

  @media screen and (max-height: 982px) {
    .main {
      height: 70%;
    }
  }

  .information-container {
    height: 15.5%;
    width: 84.4%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4.5% 7.8% 0;
  }
}
