@import 'src/common/styles/sass/mixins';

aside {
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 18%;
  height: 100%;

  img {
    width: 95px;
    height: 29px;
    margin: 1vh 0 0 2.7vw;
  }

  ul {
    display: flex;
    flex-direction: column;
    margin: 6.4vh 3.5vw 0;
    padding-left: 0;

    li {
      margin-top: 20px;
      list-style-type: none;

      span {
        @include fontStyle(400, 16px, 19px);

        color: #000000;
        opacity: 0.5;
      }

      .active {
        opacity: 1;
      }
    }

    li:hover > span {
      cursor: pointer;
      opacity: 1;
    }
  }
}
