@import 'src/common/styles/sass/mixins';

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-top: 1px solid #e5e7eb;
  margin-bottom: 4%;
  min-height: 27%;
  span {
    @include fontStyle(400, 16px, 24px);

    color: #000000;
    opacity: 0.5;
  }

  .links-block {
    width: 216px;
    height: 24px;
    display: flex;
    justify-content: space-between;

    img {
      width: 24px;
      height: 100%;
    }
  }
}
